<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div class="blog-body">
    <header>
        <div class="container">
            <div class="row align-items-center blok-header">
                <div class="col-md-2 align-items-center company-name">
                    Toko Online
                </div>
                <div class="col-md-1">
                    <div class="header-nav">
                        <ul class="header-nav__list list-unstyled">  
                            <li> 
                                <a href="home">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">

                </div>
            </div>
        </div>
    </header>
</div>

<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="https://i.postimg.cc/MGKJhBWG/sepatu.jpg">
                </img>
                <h6>
                    Sepatu
                </h6>
                <h6 class="harga">
                    Rp. 100000
                </h6>
                <a href="description">
                    <h6 class="lihat">
                    Lihat Selengkapnya
                    </h6>
                </a>
            </div>
            <div class="col-md-4">
                <img src="https://i.postimg.cc/bwcrnmq2/iphone.jpg">
                </img>
                <h6>
                    Iphone
                </h6>
                <h6 class="harga">
                    Rp. 200000
                </h6>
                <a href="">
                    <h6 class="lihat">
                    Lihat Selengkapnya
                    </h6>
                </a>
            </div>
            <div class="col-md-4">
                <img src="https://i.postimg.cc/cCt1gnjm/motor.jpg">
                </img>
                <h6>
                    Motor
                </h6>
                <h6 class="harga">
                    Rp. 3000000
                </h6>
                <a href="">
                    <h6 class="lihat">
                    Lihat Selengkapnya
                    </h6>
                </a>
            </div>
        </div>
    </div>
</div>

</body>